.main {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  margin-top: 48px;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: stretch;
}

@media (min-width: 768px) {
  .main {
    gap: 0;
    justify-content: space-between;
  }
}

.container1 {
  width: 100%;
  height: auto;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 24px;
  background-image: url("/about2.png");
  background-position: center;
  background-size: cover;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container2 {
  background: #e0f2fe;
  color: black;
  width: 100%;
  height: auto;
  border-radius: 0 24px 24px 24px;
  padding: 1rem 1.25rem;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 768px) {
  .container1 {
    flex: 0 0 auto;
    width: 42%;
    height: 450px;
  }

  .container2 {
    flex: 0 0 auto;
    width: 58%;
    height: 450px;
  }
}
