.image {
  color: #0000;
  border: none;
  height: 380px;
  width: 550px;

  object-fit: "cover";
  object-position: "center";
  transform: perspective(500px) rotateY(calc(-7deg * var(--_i, -1)));

  text-shadow:
    calc(var(--_i, -1) * 0.08em) -0.01em 0 var(--c),
    calc(var(--_i, -1) * -0.08em) 0.01em 2px #0004;
  outline-offset: 0.1em;
  transition: 0.3s;
}

.image:hover,
.image:focus-visible {
  --_p: 0%;
  --_i: 1;
}

.image:active {
  text-shadow: none;
  box-shadow: inset 0 0 9e9Q #0005;
  transition: 0s;
}

.image {
  font-weight: bold;
  font-size: 2rem;
  margin: auto;
  cursor: pointer;
  padding: 0.1em 0.3em;
}

.image2 {
  color: #0000;
  border: none;
  height: 380px;
  width: 550px;
  object-fit: "cover";
  object-position: "center";
  transform: perspective(500px) rotateY(calc(-7deg * var(--_i, 1)));

  text-shadow:
    calc(var(--_i, -1) * 0.08em) -0.01em 0 var(--c),
    calc(var(--_i, -1) * -0.08em) 0.01em 2px #0004;
  outline-offset: 0.1em;
  transition: 0.3s;
}

.image2:hover,
.image2:focus-visible {
  --_p: 0%;
  --_i: -1;
}

.image2:active {
  text-shadow: none;
  box-shadow: inset 0 0 9e9Q #0005;
  transition: 0s;
}

.image2 {
  font-weight: bold;
  font-size: 2rem;
  margin: auto;
  cursor: pointer;
  padding: 0.1em 0.3em;
}
