.container1 {
  width: 100%;
  background: var(
    --Cards-BG-Dark-4,
    linear-gradient(104deg, #e0f2fe 2.19%, #e0f2fe 32.57%)
  );
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 24px;
  padding: 1rem;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  height: auto;
}

.container2 {
  width: 100%;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-top-left-radius: 24px;
  background-image: url("/1-3.png");
  background-position: center;
  background-size: cover;
  padding: 1rem;
  height: auto;
}

.imageContainer {
  padding: 0.5rem 1rem;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #208ccc;
  justify-content: center;
  align-items: center;
  display: flex;
}

.imageContainer2 {
  padding: 0.5rem 0.75rem;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #a3052a;
  justify-content: center;
  align-items: center;
  display: flex;
}

@media (min-width: 768px) {
  .container1 {
    flex: 0 0 58%;
    height: 545px;
  }
  .container2 {
    flex: 0 0 42%;
    height: 545px;
  }
}
