.courseContainer {
 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    width: 1200px;
    margin:  100px auto;
}

.figure {
    margin: auto;
    display: grid;
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
    width: 380px;
}
/* .figure img {
    width: 100%;
} */
.figure>* {
    grid-area: 1/1;
    transition: .4s;
    width: 100%;
    height: 480px;
}

.figure .figcaption {
    display: grid;
    align-items: end;
    font-family: sans-serif;
    font-size: 2.3rem;
    font-weight: bold;
        text-align: center;
    padding: .75rem;
    background: var(--c, rgba(0, 0, 0, 0.856));
    clip-path: inset(0 var(--_i, 100%) 0 0);
}

.figure:hover .figcaption {
    --_i: 0%;
    color: rgb(255, 255, 255);
    text-align: center;
}

.figure:hover img {
    transform: scale(1.2);
}

@media only screen and (max-width:778px) {
    .courseContainer {
        grid-template-columns: repeat(1, 1fr);
    }
}