/* .container{
  margin-top: -100px;
  width: 100%;
  height: 1000px;
  background: url('/bg.svg');
  background-size: contain;
  background-repeat: no-repeat;
  
} */
.sectionTop{
  height: 100%;
  backdrop-filter: blur(8px) saturate(280%);
  padding-top: 100px;
}
.content{
  height: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: #dd3232; #208CCC*/

}

@media only screen and (max-width:776px) {
  .container{
    height: 100vh;
  }
}