/* From Uiverse.io by Javierrocadev */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    font-weight: 900;
    color: #e10600;
    position: relative;
    transition: all 10s ease;
    text-align: center;

}

.container__star {
    transition: all .7s ease-in-out;
}

.first {
    position: absolute;
    top: 20px;
    left: 50px;
    transition: all .7s ease-in-out;
}

.icon {
    position: absolute;
    fill: #b12606;
    z-index: 1;
}

.stareight {
    background: #039cf54d;
    width: 70px;
    height: 70px;
    position: relative;
    text-align: center;
    animation: rot 10s infinite;
}

.stareight::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 70px;
    width: 70px;
    background: #039cf54d;
    transform: rotate(135deg);
}

.container:hover .container__star {
    transform: rotateX(70deg) translateY(150px);
    box-shadow: 0px 0px 120px -100px #0997e9;
}

.container:hover .icon {
    animation: grow 10s linear infinite;
}

@keyframes rot {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(340deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes grow {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-5deg);
    }

    75% {
        transform: rotate(5deg);
    }

    100% {
        transform: scale(1) rotate(0deg);
    }
}