.container2 {
    width: 50%;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 24px;
    height: 500px;
    justify-content: center;
    background-image: linear-gradient(#b5dffa, #0086bb);
    display: flex;
    align-items: center;
}