@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}

.porto,
.pricing {
  margin-top: -80px;
  width: 100%;
  height: 200%;
  background: url("/bg.svg");
  background-size: contain;
  background-repeat: no-repeat;
  /* background-position: center; */
}
