.container{
    position: relative;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: white;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 24px;
    row-gap: 30px;
}
.container2 {
    width: 1200px;
    padding: 40px ;
    background: #fff;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 500px;
    background-image: url("/bg-14.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    border-top-right-radius: 40px ;
    border-bottom-left-radius: 40px ;
    border-bottom-right-radius: 40px ;
}